.custom-navbar {
  background-color: #ff6f61 !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: black !important;
}

.brand-name {
  color: black !important;
  font-weight: bold;
  font-family: "Pacifico", cursive;
}

.nav-link {
  font-weight: 500;
  margin: 0 10px;
  transition: color 0.3s ease;
}

.nav-link:hover {
  background-color: rgb(20, 172, 223);
  color: white;
}

.custom-navbar {
  background-color: #FFF8E1 !important; /* Warm orange */
}
